.category {
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 500;
}

.category_item {
    height: 85%;
    width: fit-content;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: default;
}

.category_item:hover {
    transform:scale( 1.1 );
}

.selected {
    background-color: orange;
    color: white;
}

.default {
    border: 1px solid orange;
}