.detailProductPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    z-index: isolate;
}

/* DetailProductPageHeader */
.detailProductPageHeader {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 0px 20px;
}

.detailProductPageHeader .back_button{
    color: white;
    font-size: 2.1rem;
}

.detailProductPageHeader .zoom_button {
    color: white;
    font-size: 1.75rem;
}


/* ProductImage */
.productImage {
    width: 100%;
    height: 50vh;
}
.productImage .banner_item {
    width: 100%;
    min-height: 400px;
}

.productImage .banner_image {
    width: 100%;
    object-fit: cover;
    object-position: top;
}


/* ProductInfo */
.productInfo {
    width: 100%;
    height: 45vh;
    font-size: 1.4rem;
    overflow-y: auto;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.productInfo::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.productInfo > .content {
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.productInfo .content .name-wrapper {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.productInfo .content .name-wrapper .name {
    color: black;
    font-size: 2.1rem;
    font-weight: 700;
}

.productInfo .content .description {
    width: 100%;
    height: 40px;
    max-height: fit-content;
    display: flex;
    margin-bottom: 150px;
}

.productInfo .content .price-wrapper {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    font-size: 1.65rem;
    font-weight: 600;
    margin-bottom: 60px;
}

.productInfo .content .optiongroup-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 20px;
}


/* DetailProductOptionBox */
.detailProductOptionBox {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.detailProductOptionBox .optiongroup_title {
    width: 100%;
    height: 35px;
    color: black;
    font-size: 1.65rem;
    font-weight: 500;
}

.detailProductOptionBox .option-wrapper {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.detailProductOptionBox .option-wrapper .selector {

}

.detailProductOptionBox .option-wrapper .name {
    
}

.detailProductOptionBox .option-wrapper .price {
    margin: 0 0 0 auto;
}


/* AddToCartButton */
.addToCartButton {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addToCartButton .button {
    width: 97%/* calc(100% - 60px)*/;
    height: 95%;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: mediumaquamarine;
    color: white;
    font-size: 1.39rem;
    font-weight: 600;
    border-radius: 4px;
}

.addToCartButton .button:hover,
.addToCartButton .button:active {
    color: aquamarine;
    opacity: 90%;
}